<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Blog</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/layout/style.css}">
</head>
<body>

<div class="form-container">
    <h2>Add New Blog</h2>

    <form th:action="@{/blog/add}" th:object="${blog}" method="post">

        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{title}" placeholder="Enter blog title">
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea th:field="*{content}" rows="6"
                      placeholder="Enter blog content"></textarea>
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" th:field="*{author}" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label>Published Date</label>
            <input type="date" th:field="*{publishedDate}">
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-save">Save</button>
            <a th:href="@{/blog}" class="btn-cancel">Cancel</a>
        </div>

    </form>
</div>

</body>
</html>
