<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/layout/style.css}">
</head>
<body>
<a href="/blog">Back to home</a>
<div th:each="blog : ${blogList}">
  <div class="blog-content">
    <h3 class="blog-title" th:text="${blog.title}"></h3>
    <p class="blog-desc" th:text="${blog.content}"></p>
    Create by: <p th:text="${blog.author}"></p>
    Create at: <p th:text="${blog.publishedDate}"></p>
    Category:<p th:text="${blog.category?.name}"></p>
  </div>
  <div>
    <a th:href="@{/blog/delete/{id}(id=${blog.id})}"
       onclick="return confirm('Are you sure?')">
      Delete
    </a>
    <a th:href="@{/blog/edit/{id}(id=${blog.id})}">
      Edit
    </a>
  </div>
</div>
</body>
</html>